/* styles.css */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #388087;
}

header {
    background-color: #388087;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #F6F6F2;
    font-weight: bold;
}

main {
    text-align: center;
    background-color: #3a3a3a;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6FB3B8;
    color: #F6F6F2;
}

img {
    width: auto;
    max-width: auto;
    height: auto;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color:rgb(112, 193, 207);
} 

#rain img {
    background: url(https://i.imgur.com/pzNSKdG.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
}

#blue1 img {
    background: url(https://i.imgur.com/So1PBcz.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
}

main section h1 div img {
    width: auto;
    max-width: auto;
    height: auto;
}